<!DOCTYPE html>

<head>
    <title>资源大区优质主题统计 </title>
    <style> 
    </style>
</head>

<body>
    <div id="display">
        <h1>苦力怕论坛资源大区优质主题列表</h1>
        <form id="search" action="{%url 'filter'%}" method="post">
            {%csrf_token%}
            <select name="Pt"> 
                <option value="0">不限</option> 
                {%for pt in PostType%}
                <option value="{{pt.id}}">{{pt}}</option>
                {%endfor%}
            </select>
            <select name="Quality"> 
                <option value="0">不限</option> 
                {%for q in Stamp%}
                <option value="{{q.id}}">{{q}}</option>
                {%endfor%}
            </select>
            <input type="text" name="name" placeholder="" id="title">
            <input type="submit"> 
        </form>
    </div>
</body>

</html> 
