{%extends "resource/template.html"%}

{%block body%}

<div id="display">
    <h1>苦力怕论坛资源大区优质主题列表</h1>
    <table id="main">
        <thead>
            <td>主题类型 </td>
            <td>主题等级 </td> 
            <td>标题 </td>
            <td>操作</td>
        </thead> 
        {%for th in t%}
        <tr style="border-top: 1px soild #ddd"> 
            <td>{{th.postType}}[{{th.postType.board}}] </td>
            <td>{{th.stamp}} </td> 
            <td>{{th.title}}</td>
            <td><a href="https://klpbbs.com/thread-{{th.tid}}-1-1.html"><button>前往主题</button></a></td>
        </tr>
        {%endfor%}
    </table>
</div> 

{%endblock%}  
